html{
    font-family: Montserrat, Helvetica, sans-serif;
}
.bodyalign{
    padding-left: 20%;
    padding-right: 20%;
}
.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

a{
    text-decoration: none;
    color: black;
}
.imgBody{
    padding-top: 40px;
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

header{ 
    line-height: 2;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    text-align: center;
    color: aliceblue;
    height: 400px;
}
.logo{
    display: block;
    padding: 0 85% 0 0;
}
.readMore{
    color: white;
    background-color: black;
    padding: 15px;
    display: inline-block;
}
.brownButton{
    color: white;
    background-color: rgb(143, 84, 5);
    padding: 15px;
    display: inline-block;
}
footer{
    margin-top: 80px;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.footerCoffee{
    margin-bottom: 20px;
    font-size: 38px;
}
.container{
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.horizontal-list{
    list-style-type: none; /* No bullet points*/
    padding: 0%; /* remove default padding */
    margin: 0; /* remove default margin */
    display: flex; /* display items in a row */
}
.horizontal-list li{
    color: white;
    margin-right: 20px; /* space between items */
}
.horizontal-list li:last-child{
    margin-right: 0; /* remove space after last item */
}
.horizontal-list a{
    color: white;
    text-decoration: none;
}
.horizontal-list a:hover{
    text-decoration: underline;
}
